<div class="main-container">
  <div class="card left">
    <img src="../../../../assets/full-logo.png" />
    <p>
      Venha conhecer o Capilé! Informe seus dados e ganhe um drink para brindar
      com a gente. Aproveite!!!!!
    </p>
  </div>

  <div class="card right">
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput class="custom-mat-input" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>CPF</mat-label>
        <input matInput />
      </mat-form-field>
    </form>
  </div>
</div>
