<div
  class="flex flex-column md:flex-row align-items-center justify-content-center w-screen h-screen fixed"
>
  <div
    class="flex flex-column align-items-center justify-content-center bg-black-alpha-90 h-27rem w-7 sm:w-4"
  >
    <img class="w-5" src="../../../../assets/full-logo.png" />
    <p class="text-primary font-normal text-justify mx-6">
      Venha conhecer o Capilé! Informe seus dados e ganhe um drink para brindar
      com a gente. Aproveite!!!!!
    </p>
    <div class="flex flex-row">
      <app-social-media-icon
        iconName="pi-instagram"
        iconColor="#39ff14"
        link="https://www.instagram.com/capiledrinks/"
        class="mx-3"
      />

      <app-social-media-icon
        iconName="pi-whatsapp"
        iconColor="#39ff14"
        link="https://api.whatsapp.com/send?phone=5534997683993"
        class="mx-3"
      />
    </div>
  </div>

  <div
    class="flex flex-column align-items-center justify-content-center h-27rem w-7 md:w-3 surface-100"
  >
    <form class="flex flex-column align-items-center w-8">
      <span class="p-float-label m-3 w-full ng-invalid ng-dirty">
        <input class="w-full" pInputText id="name" />
        <label htmlFor="name">Nome</label>
      </span>

      <span class="p-float-label m-3 w-full">
        <p-inputMask
          [style]="{ width: '100%' }"
          mask="999.999.999-99"
          id="cpf"
        />
        <label htmlFor="cpf">CPF</label>
      </span>

      <p-button class="m-3" label="Ganhar DRINK"></p-button>
    </form>
  </div>
</div>
